extends layout

block content
  .container
    if !timeline
      a.btn.btn-info(href="addTimeline") Add Timeline
      .col-md-12.text-center(style="margin-top : 6%;")
        h3 Autres Timelines
      .col-md-12.carousel
        a(href="visualizeOne?id=5aa26094f28d0635f90331af")
          img(src="/images/placeholder-carousel.png" value="PLACEHOLDER")
          h1#placeholder PLACEHOLDER
    else
      +showTimeline